<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table id="report-table" border="1">
      <tr>
        <th colspan="11">REKAPITULASI POIN MINGGUAN {dormitory}</th>
      </tr>
      <tr>
        <td rowspan="2">NO</td>
        <td rowspan="2">NAMA</td>
        <td rowspan="2">MINUS SEBELUMNYA</td>
        <td colspan="7">MINUS MINGGU INI</td>
        <td rowspan="2">TOTAL</td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      <tr>
        <td>1</td>
        <td>John Doe</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>John Doe</td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </table>
  </body>
</html>
